# AWS 리전 설정
aws_region = "ap-southeast-1"

# 환경 설정
environment = "lattice"

# VPC CIDR 블록
# VPC A: 10.1.0.0/16
# VPC B: 10.2.0.0/16

# 가용구역
# VPC A: ap-southeast-1a
# VPC B: ap-southeast-1b

# 인스턴스 타입
# Bastion, Service A, Service B: t3.micro

# DynamoDB 테이블명
# service-b-table
